mixin videoBlock(video={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile)   
            .info
                .info_first
                    a(href=routes.userDetail(video.creatorId))
                        img.avatar-url(src=video.url)
                    div.videoBlock__title=video.title
                p.videoBlock__creator-name=video.creatorName
                if video.views === 1
                    p.videoBlock__views 1 view
                else
                    p.videoBlock__views #{video.views} views