header.header
    .header__wrapper
        .header_column
            a(href=routes.home)
                i.fab.fa-youtube
        .header_column
            form(action=routes.search, method="get")
                input(type="text", placeholder="검색", name= "term")
                button.searchButton
                    i.fas.fa-search
                    
        .header_column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Profile                        
                    li
                        a(href=routes.logout) Log Out